version: '3'

services:
  home:
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.port=80
      - traefik.docker.network=traefik
      - traefik.backend=rauchmelder
      - traefik.frontend.rule=Host:rauchmelder.nicco.io

networks:
  traefik:
    external: true