@import url('https://fonts.googleapis.com/css?family=PT+Sans')

*
	box-sizing border-box

html
body
#root
	margin 0
	padding 0
	width 100vw
	height 100vh
	overflow hidden
	font-family 'PT Sans', sans-serif
	font-weight bold

#app
	height: 100%
	width: 100%
	//background-color #eeffee
	background linear-gradient(45deg, #111, #222)
	color #fff
	display flex
	justify-content center
	align-items center
	text-align center

	@media (min-width: 0px)
		#text
			font-size 3em
		#title
			font-size 2em
	@media (min-width: 900px)
		#text
			font-size 4em
		#title
			font-size 3em
	@media (min-width: 1200px)
		#text
			font-size 5em
		#title
			font-size 4em
